@use "./abstracts/colors";
@use "./abstracts/typography";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

//Reset
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after{
  box-sizing: border-box;
}

//Default styles
body {
  height: 100vh;
  background: url("../images/pattern-background-mobile.svg") no-repeat, colors.$paleBlue;
  background-size: contain;
  font: typography.$defaultFontRule;
  color: colors.$desaturatedBlue;
}
h1 {
  color: colors.$darkBblue;
  font-size: map-get($map: typography.$sizes, $key: h1);
  font-weight: map-get($map: typography.$weights, $key: black);
  margin: 0;
}
h2 {
  margin: 0;
  color: colors.$darkBblue;
  font-size: map-get($map: typography.$sizes, $key: paragraph);
  font-weight: map-get($map: typography.$weights, $key: bold);

  small{
    display: block;
    font-size: map-get($map: typography.$sizes, $key: paragraph);
    color: colors.$desaturatedBlue;
    font-weight: map-get($map: typography.$weights, $key: medium);
  }
}
