//# Primary
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

//# Neutral
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBblue: hsl(223, 47%, 23%);

//# box-shadow
$tranparentBrightBlue: hsla(245, 75%, 52%, 0.25);
$veryTranparentBrightBlue: hsla(245, 75%, 52%, 0.1);

//# Hover
$brightBlueHover: hsla(245, 75%, 52%, 0.7);



