//# Body Copy
$regularSize: 1rem;
$headingSize: 2rem;

//# Font
$familyStack: "Red Hat Display", sans-serif;;
$weights: (
  medium: 500,
  bold: 700,
  black: 900
);

//# Default
$defaultFontRule: map-get($weights, medium) $regularSize $familyStack;
