//# Body Copy
$sizes: (
  paragraph: 1rem,
  h1: 1.5rem
);

//# Font
$familyStack: "Red Hat Display", sans-serif;;
$weights: (
  medium: 500,
  bold: 700,
  black: 900
);

//# Default
$defaultFontRule: map-get($weights, medium) map-get($map: $sizes, $key: paragraph) $familyStack;
